{% extends 'base_admin.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}



{% block content %}
{#    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">#}

    <div class="container-fluid" style="margin-top: 50px; background-color: white">
    <header><h3><strong>Suggestions</strong></h3></header>

        <table id="dtBasicExample" class="table table-striped table-bordered " cellspacing="0" width="100%">
        <thead>
            <tr>
                <th class="th-sm">Date
                     <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Name
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Email
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
                <th class="th-sm">Title
                    <i class="fa fa-sort float-right" aria-hidden="true"></i>
                </th>
            </tr>
        </thead>
            <tfoot>
            <tr>
                <th>Date</th>
                <th>Name</th>
                <th>Email</th>
                <th>Title</th>

            </tr>
        </tfoot>
        <tbody>
    {% for suggest in  suggests %}
            <tr>
               </td>
                <td>{{ suggest.date }}</td>

                <td><a href="{% url 'mylost:suggest_detail' suggest.id %}"> {{ suggest.name}} </a></td>

                 <td>{{ suggest.email }}</td>
                <td>{{ suggest.title }}</td>
            </tr>


        </tbody>
{% endfor %}

    </table>

    </div>
{% endblock %}
{##}
{#<script src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
{#<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>#}
{#<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>#}