dj-database-url
Django
django-crispy-forms
django-heroku
gunicorn
html5lib
httplib2
idna

Jinja2
jinja2-time
jsonschema
jupyter-client
jupyter-core
jupyterlab
jupyterlab-server

Pillow

psycopg2
Pygments

python-apt
python-dateutil
python-debian

reportlab
requests
requests-unixsocket

ssh-import-id

tornado

