dj-database-url 
django 
django-crispy-forms 
django-heroku 
gunicorn 
html5lib 
httplib2 
idna 
jinja2 
jinja2-time 
jsonschema 
jupyter-client 
jupyter-core 
jupyterlab 
jupyterlab-server 
pillow 
psycopg2 
pygments 
reportlab 
requests 
requests-unixsocket 
ssh-import-id 
tornado 
python-apt 
python-dateutil 
python-debian 