{% extends 'base_admin.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{#<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">#}
{#<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css">#}


{% block content %}
    <div class="container-fluid" style="margin-top: 50px; background-color: white;overflow: inherit; width: 100%">
    <header><h3><strong>Reports</strong></h3></header>

    <!--TABLE-->
    <table id="dtBasicExample" class="table table-striped table-bordered " cellspacing="0" width="100%">
  <thead>
    <tr>
      <th class="th-sm">Date
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Device Name
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Device Model
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Serial number
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
        <th class="th-sm">Device condition
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">State
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
      <th class="th-sm">Email
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
        <th class="th-sm">Phone
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
        <th class="th-sm">Device status
        <i class="fa fa-sort float-right" aria-hidden="true"></i>
      </th>
    </tr>
  </thead>
  <tbody>
{% for report in  reports %}    <tr>
      </td>
        <td>{{ report.date }}</td>
        <td>{{ report.deviceName }}</td>
        <td>{{ report.deviceModel }}</td>
        <td>{{ report.serialNumber}}</td>
        <td>{{ report.condition}}</td>
        <td>{{ report.state}}</td>
        <td>{{ report.email }}</td>
        <td>{{ report.phone }}</td>
        <td>{{ report.device_status }}</td>
    </tr>

  </tbody>{%endfor%}
 <tfoot>
    <tr>
      <th>Date
      </th>
      <th>Device Name
      </th>
      <th>Device Model
      </th>
      <th>Serial number
      </th>
      <th>State
      </th>
      <th>Email
      </th>
        <th>Phone
      </th>
         <th>Device status
      </th>
    </tr>
  </tfoot>
</table>
 </div>
    <!--END OF TEST-->
{% endblock %}

{#<script src="https://code.jquery.com/jquery-3.3.1.js"></script>#}
{#<script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>#}
{#<script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>#}
