{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}


{% block body %}
    <div class="container">
        <form class="d-flex justify-content-center">
            <!-- Default input -->
            <input type="search" placeholder="Enter device serial number" aria-label="Search" class="form-control">
            <button class="btn btn-primary btn-sm my-0 p" type="submit">
                <i class="fa fa-search"></i>
            </button>

        </form>
    </div>

{% endblock %}