{% extends 'base.html' %}
{% load staticfiles %}
{% load crispy_forms_tags %}

{% block body %}
    <div class="view">
        <img class="d-block w-100" src="https://mdbootstrap.com/img/Photos/Slides/img%20(130).jpg" alt="First slide" style="height: 350px">
    </div>
    <div class="container" style="margin-top: 70px">
        {% for post in top_posts %}
            <div class="row wow fadeIn">

                <div >
                    <div class="col-lg-9 col-md-9 px-4" style="margin: 10px">

                        <a href="{% url 'blog:blog_detail' post.id %}">
                            <img  class="img-fluid" src="{{ post.image.url }}" style="width: 600px; height: 300px" alt="post image">
                            <h2 class="title"><strong>{{ post.title }}</strong></h2>
                        </a>
                        <p>Author: <strong>{{ post.author }}</strong>  Updated: {{ post.updated }}</p>
                        <div class="text-nowrap text-truncate" style="width: 600px;display: block">
                            <p>{{ post.content|linebreaks }}</p>
                        </div>

                    </div>
                </div>
            <br>

                <div class="col-lg-3 col-md-3 px-4" style="border-left: 1px solid gainsboro; margin: 10px">
                    <h2 class="title"><strong>Recent Posts</strong></h2>
                    <hr>
                    <a href ="{% url 'blog:blog_detail' pk=post.pk %}">
                        <div >
                            <ul>

                                <li style="margin: 10px;list-style: none">
                                    <img src="{{ post.image.url }}" style="height:40px;width:60px"> {{ post.title }}
                                </li>
                            </ul>
                        </div>
                    </a>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock %}